.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo__header {
    margin-right: 93px;
  }
  
  .header {
    border-bottom: 1px solid #ececec;
  }